:root {
    --lato: 'Lato', sans-serif;
    --alegreya: 'Alegreya', serif;
    --white: rgb(255, 255, 255);
    --gray-soft: rgba(235, 232, 232, 0.719);
    --gray-medium: rgb(149, 148, 148);
    --gray-dark: rgb(90, 88, 88);
    --black-medium: rgb(41, 40, 40);
    --green: #71b100;
    --yellow: rgb(189, 110, 6);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--alegreya);
    line-height: 2;
}


/*===================================
                GLOBALES 
 ====================================*/

h1 {
    font-size: 4.2rem;
    font-family: var(--lato);
    margin: 0;
    color: var(--black-medium);
}

h2 {
    font-size: 3.4rem;
    font-family: var(--lato);
    padding: 50px 0;
    line-height: 1.5;
    text-align: center;
    color: var(--black-medium);
    margin: 0;
}

h2 span {
    font-size: 3.5rem;
    color: var(--yellow);
}

h3 {
    font-size: 2.6rem;
    font-family: var(--lato);
    margin: 0;
    color: var(--black-medium);
}

h4 {
    font-size: 2.2rem;
    font-family: var(--lato);
    margin: 0;
    color: var(--black-medium);
}

p {
    font-size: 1.6rem;
    margin: 0;
}

img {
    max-width: 100%;
}


/*===================================
                UTILIDADES 
 ====================================*/

.container {
    width: 95%;
    margin: 0 auto;
}

.button {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 40px;
    margin: 30px 0;
    color: white;
    border: none;
}

.button-yellow {
    background-color: var(--yellow);
}

.button-green {
    background-color: var(--green);
}

.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.center-text {
    text-align: center;
    padding: 30px 0;
}


/*===================================
                HEADER 
 ====================================*/

.site-header {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container-header {
    text-align: center;
}

.logo img {
    padding-left: 10px;
}

.mobile-menu {
    display: none;
}

.mobile-menu img {
    text-align: center;
    width: 50px;
}


/* .to-show {
    display: block;
} */

.navegation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.navegation a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease;
}

.navegation a:hover {
    color: var(--yellow);
}

.container-header h1 {
    color: var(--white);
    margin-top: 100px;
}


/*===================================
                ABOUT 
 ====================================*/

.icons-about {
    text-align: center;
}

.icons {
    margin-bottom: 50px;
    border-bottom: 2px solid var(--gray-medium);
}

.icons:last-of-type {
    border-bottom: none;
}

.icons img {
    margin-bottom: 20px;
}

.icons h3 {
    margin-bottom: 20px;
    color: var(--black-medium);
}

.icons p {
    text-align: justify;
    margin-bottom: 20px;
    color: var(--gray-dark);
}


/*===================================
                MAIN 
 ====================================*/

.site-main {
    padding: 5px 0;
    background-color: var(--white);
}

.container-advert {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.advert {
    margin-bottom: 30px;
    border: 2px solid var(--gray-soft);
}

.advert img {
    width: 400px;
    margin-bottom: 25px;
}

.contents-advert {
    padding: 15px;
}

.contents-advert p {
    color: var(--gray-dark);
    text-align: justify;
}

.contents-advert .price {
    color: var(--green);
    font-weight: 700;
    font-size: 2rem;
}

.icons-characteristics {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-left: 0;
    list-style: none;
}

.icons-characteristics li {
    text-align: center;
    line-height: 1.5;
}

.icons-characteristics li span {
    font-size: 2.2rem;
    color: var(--yellow);
}

.icons-characteristics li p {
    text-align: center;
}


/*===================================
          LINK TO CONTACT  
 ====================================*/

.img-content {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-hero-Contact {
    color: var(--white);
}

.container-hero-Contact h2 {
    color: var(--white);
}


/*===================================
          BLOG  
 ====================================*/

.site-blog h3 {
    text-align: center;
    padding: 30px;
}

.entry-blog {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.img-blog {
    margin-bottom: 20px;
}

.entry-blog {
    padding-bottom: 30px;
}

.text-entry {
    text-align: justify;
}

.text-entry a {
    text-decoration: none;
}

.text-entry h4 {
    color: var(--black-medium);
    margin-bottom: 30px;
}

.text-entry h4::after {
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: var(--green);
    margin-top: 1rem;
}

.text-entry p span {
    color: var(--yellow);
}

.text-entry p {
    margin-bottom: 20px;
    color: var(--gray-dark);
}

.text-entry p:last-of-type {
    margin-bottom: 0;
}


/*===================================
          TESTIMONIALS  
 ====================================*/

.site-testimonials {
    text-align: center;
}

.site-testimonials h3 {
    color: var(--black-medium);
    padding: 30px 0;
}

.site-testimonials p {
    color: var(--white);
    text-align: right;
    margin-top: 20px;
}

.testimonials {
    background-color: var(--green);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

.testimonials blockquote span {
    font-size: 3rem;
    color: var(--white);
    margin-right: 10px;
}

.testimonials blockquote {
    font-size: 2.2rem;
    color: var(--white);
    text-align: justify;
    margin: 0;
}


/*===================================
          FOOTER  
 ====================================*/

.site-footer {
    background-color: var(--black-medium);
    margin-top: 30px;
    padding: 10px 0;
}

.container-footer .navegation {
    align-items: center;
}

.container-footer p {
    text-align: center;
    color: var(--white);
    padding: 10px 0;
}


/*===================WEBSITE ABOUT===============*/


/*===================================
          HEADER  
 ====================================*/

.header-container {
    background-color: VAR(--black-medium);
    padding: 20px 0;
}


/*===================================
          HEADER  about
 ====================================*/

.site-About {
    margin-bottom: 50px;
}

.site-About h1 {
    text-align: center;
    padding: 30px 0;
}

.content-about {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.text-about blockquote {
    font-size: 2rem;
    color: var(--yellow);
}

.text-about p {
    color: var(--gray-dark);
    text-align: justify;
}


/*===================WEBSITE CONTACT===============*/


/*===================================
         CONTACT
 ====================================*/

.contact-tittle h1 {
    text-align: center;
    padding: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form fieldset {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

form fieldset legend {
    font-size: 2.2rem;
    color: var(--black-medium);
    font-weight: 700;
    text-transform: capitalize;
}

form fieldset label {
    font-size: 1.8rem;
    color: var(--gray-dark);
    font-weight: 700;
}

form fieldset p {
    font-size: 1.8rem;
    color: var(--gray-dark);
}

form fieldset input,
form fieldset textarea,
form fieldset select {
    font-size: 1.8rem;
    padding: 10px 15px;
    background-color: var(--gray-medium);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.forma-contacto {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}


/*===================WEBSITE ENTRY===============*/


/*===================================
         ENTRY MAIN
 ====================================*/

.container-tittle-guide h1 {
    text-align: center;
    padding: 30px 10px;
    text-transform: capitalize;
}

.guide-entry span {
    color: var(--yellow);
}